/* q1.html */

/* div p span{
    color:blue
}

div>p>span{
    color: rgb(184, 11, 11);
} */


/* q2.html */

/* .sonu{
    color:blue
}

.monu{
    color:rgb(255, 0, 200)
}

.sonu.monu{
    color:brown
} */

/* q3.html */

/* .c1 p{
    color:blue
}

.c1>p{
    color:blue
} */

/* q4.html */

input[type="text" ]{
    color:blue
}



