/* .sonu{
    color:red
}

h1{
    color:greenyellow
}

#unique{
    color:aqua
}

#monu{
    color:blueviolet
}

div{
    height:100px;
    width: 100px;
    color:aqua
} */

div p span{
    color:blue;
}